recursive-include tests *.py
include README.md
include CHANGELOG.md
include CONTRIBUTING.md
include tox.ini
include stdeb.cfg
include ICLA.md
include ICLA.pdf
include LICENSE.md
include NOTICE.md
include mediatimestamp/py.typed
include mediatimestamp/immutable/py.typed
include mediatimestamp/hypothesis/py.typed